@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Fonts */

  @font-face {
    font-family: 'Neue-Haas-Grotesk';
    src: url('/fonts/NHaasGroteskTXPro-55Rg.ttf') format('truetype');
    font-weight: 100 900;
  }

  /* Global */

  html,
  body {
    @apply font-sans bg-infoGray;
  }

  /* Rich Text */

  .rich-text {
    @apply text-base md:text-lg 2xl:text-xl;
  }

  .rich-text p {
    @apply mb-6;
  }

  .rich-text a {
    @apply underline;
  }

  .rich-text h3 {
    @apply my-6 text-2xl md:text-3xl;
  }

  .rich-text ul {
    @apply mb-6;
  }

  .rich-text ul li p {
    @apply mb-0 pb-0;
  }

  /* Carousel */

  .landscape {
    aspect-ratio: 16/11;
  }

  .square {
    aspect-ratio: 1/1;
  }
}
